<% content_for :head do %>	
	
	<script type="text/javascript">

	var IMAGES = [ "sun", "rain", "snow", "storm" ];
	var ICONS = [];
	var map = null;
	var mgr = null;

    function createMarker(point,html,icon) {
		if(!icon) {icon="residential";}

		var theIcon = new GIcon(G_DEFAULT_ICON);
		theIcon.image = "/images/"+icon+".png";
	    theIcon.iconAnchor = new GPoint(16, 16);
	    theIcon.infoWindowAnchor = new GPoint(16, 0);
	    theIcon.iconSize = new GSize(32, 32);
	    theIcon.shadow = "/images/" 
			+ icon + "-shadow.png";
	    theIcon.shadowSize = new GSize(59, 32);
				
		markerOptions = { icon:theIcon };
		
	
      var marker = new GMarker(point, markerOptions);
      GEvent.addListener(marker, "click", function() {
        marker.openInfoWindowHtml(html);
      });
      return marker;
    }


	function setupMap() {
	  //if (GBrowserIsCompatible()) {
	    map = new GMap2(document.getElementById("map"));
	    map.addControl(new GLargeMapControl());
	    map.setCenter(new GLatLng(55.8667230193505, -4.24999237060547), 13);
	    map.enableDoubleClickZoom();
	    window.setTimeout(setupWeatherMarkers, 0);
	  //}
	}

	function getWeatherIcon(name) {
	    var icon = new GIcon();
	    icon.image = "/images/" 
			+ name + ".png";
	    icon.iconAnchor = new GPoint(16, 16);
	    icon.infoWindowAnchor = new GPoint(16, 0);
	    icon.iconSize = new GSize(32, 32);
	    icon.shadow = "/images/" 
			+ name + "-shadow.png";
	    icon.shadowSize = new GSize(59, 32);
		return icon
	}

	function getRandomPoint() {
	  var lat = 48.25 + (Math.random() - 0.5)*14.5;
	  var lng = 11.00 + (Math.random() - 0.5)*36.0;
	  return new GLatLng(Math.round(lat*10)/10, Math.round(lng*10)/10);
	}

	function getWeatherMarkers(n) {
	  var batch = [];
	  for (var i = 0; i < n; ++i) {
	    batch.push(new GMarker(getRandomPoint(), { icon: getWeatherIcon('rain') }));
		//batch.push(new GMarker(getRandomPoint(), { }));
	  }
	  return batch;
	}

	function setupWeatherMarkers() {
	  //mgr = new MarkerManager(map);
	  //var batch = [];
		//var tmp = 'asdf';
		$.getJSON("/sites/data.json", function(data) {
			$.each(data.items, function(i, item){
				var point = new GLatLng(item.lat, item.long);
				//var marker = new GMarker(loc, { icon: getWeatherIcon(item.type)  });
				//batch.push(marker);
				//mgr.addMarker(marker, 3);
				//var theHtml = '<div class="map_popup"><a href="/sites/'+5+'"<\/a><\/div>';
				var theHtml = '<div class="map_popup"><h2><a href="\/sites\/'+item.id+'">'+item.label+'<\/a><\/h2><img src="'+item.image+'"><\/img><\/div>';
		        var marker = createMarker(point,theHtml, item.type)
		        map.addOverlay(marker);
			});
		});
		//mgr.addMarkers(batch, 2);
	  	//mgr.addMarkers(getWeatherMarkers(20), 3);
	  //mgr.addMarkers(getWeatherMarkers(200), 6);
	  //mgr.addMarkers(getWeatherMarkers(1000), 8);
	  //mgr.refresh();
	}
	</script>

	<script type="text/javascript"> 
	$(document).ready(function() {
		setupMap();
	});
		$(window).unload(function() { GUnload(); } );
	</script>
	<style>
		.map_popup img {width: 100px;display: block;}
		.map_popup {width: 130px;}
	</style>
	
<% end %>

<div id="container">
	
	<div id="header">
		<h1>Citipedia</h1>
		<span id="strapline">Making where you live better</span>
	</div>
	
	<!-- template starts here -->
	
	<!-- common nav -->
	<ul id="nav">
		<li class="add"><a href="#">Add a place</a></li>
		<li class="find"><a href="#">Find a place</a></li>
		<li class="explore"><a href="#">Explore area</a></li>
		<li class="help"><a href="#">Help</a></li>
	</ul>
	
	<div id="content">
		<div id="search">
			<h2>Start a new search</h2>
			<form id="postcode-search" action="" method="get">
				<label for="postcode">Postcode search</label>
				<input id="postcode" name="postcode" type="text" value="Postcode search" />
				<input type="image" value="Go" src="images/go.png" />
			</form>
			<form id="keyword-search" action="" method="get">
				<label for="p">Keyword search</label>
				<input id="p" name="p" type="text" value="Keyword search" />
				<input type="image" value="Go" src="images/go.png" />
			</form>
		</div>
		
		<div id="map" style="margin: 5px auto; width: 800px; height: 400px"></div>
	</div>


