<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Citipedia - making where you live better</title>
		
		<link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/stylesheets/site.css" type="text/css" media="screen" />
		
		<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>-->
		<script type="text/javascript">
		$(document).ready(function() {
			$("#main li h2").each(function(i) {
				$(this).prepend((i + 1) + '. ');
			});
			$('#listings li').addClass('tabbed').click(function() {
				$('#list');
			}).eq(0).addClass("active");
		});
		</script>
		<!--<script src="http://maps.google.com/maps?file=api&v=2.133d&key=ABQIAAAAYSHQGH7DwQYnligG_HNMtRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTpRqH6LmxrFYRSv3GdHHrQfia4Yg" type="text/javascript"></script>-->

	
	<%= yield :head %>
</head>
<body>

	<div id="container">
		
		<div id="header-home">
			<h1>Citipedia</h1>
			<span id="strapline">Making where you live better</span>
		</div>

<%= yield %>

			<div id="footer">
				Website designed and built by the Citipiedia SI Camp Team &copy; 2009 Citipedia
			</div>
		</div>
	</body>
</html>




